$accordion-color: #359BE7;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';


body {
    min-height: 100vh;
}

.main-container {
    min-height: 100vh;
}

aside {
    width: 300px;
    background-color: #359BE7;
}
